################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DiscipleBadges
/.vs
/DiscipleBadges/DiscipleBadges/bin/Debug/net9.0
/DiscipleBadges/DiscipleBadges/obj
/DiscipleBadges/DiscipleBadges.Client/bin/Debug/net9.0
/DiscipleBadges/DiscipleBadges.Client/obj
